*{
    padding: 0;
    margin: 0;
}
body {
    color: white;
    background-color: rgb(20, 21, 23);
    height: 100%;
    font-weight: 400;
    font-family: Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
    box-sizing: border-box;
}  
/*--------------------
Header
--------------------*/
header{
    background: url("https://hdqwalls.com/download/stranger-things-season-3-2019-4k-5k-38-1920x1080.jpg") center /cover no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}
.menu-bar{
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    align-items: center;
    padding: 0 10px;
	margin: 50px 0 0 0;
}
.menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}
.menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left:0;
    height:100%;
    width: 100%;
    z-index:-1;
    transition: .2s;
    border-radius: 25px;
}
.menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}
.menu-bar li:hover {
    color: black;
}
/*--------------------
Movies
--------------------*/
h2 {
    color:rgb(228, 222, 222);
    font-size: 22px;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.4);
    padding: 20px 50px 0;
    margin-left: 20px;
    margin-bottom: 30px;
}

.movies{
    margin-left: 20px;
}