body {
    color: white;
    background-color: rgb(20, 21, 23);
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-family: Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
  }  